<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>geek navigator</title>
</head>
<body>
    <div class="navbar">
        <div class="logo">Geek Navigator</div>
    </div>
    <div class="flex">
        <div class="land-page">
            <div class="welcome-text">
                Welcome
            </div>
            <div class="get-btn">
                Get started
            </div>
        </div>
   </div>
</body>
</html>