<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://kit.fontawesome.com/6fce7146e5.css" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='signup.css') }}">
    <title>Sign up</title>
</head>
<body>
    <div class="loc-icon">
        <i class="fa-regular fa-location-dot"></i>
    </div>
    <div class="signup-class">
        <div class="text">
            <h1 class="signup">SIGN UP:</h1>
            <h4 class="choose">choose to continue</h4>
        </div>
    </div>
    <div class="signup-btns">
        <div class="radio-btns">
            <div class="rads">
                <input type="radio" name="student"><label class="label" for="student">student</label>
            </div>
            <div class="rads">
                <input type="radio" name="staff"><label class="label"  for="student">staff</label>
            </div>
            <div class="rads">
                <input type="radio" name="visitor"><label class="label"  for="student">visitor</label>
            </div>
        </div>
    </div>
</body>
</html>